<div class="container">
  <h3>Modification d'un jour ferié </h3>
  <form (ngSubmit)="submit()" #ModificationFerieComponent="ngForm">
    <div class="container-fluid">
      <div class="input-group-prepend">
        <div class="input-group-text">Date</div>
      </div>
      <input type="date" class="form-control" name="date" [(ngModel)]="ferie.date" #dateDeDebut="ngModel" required>
    </div>
    <div class="container-fluid">
      <div class="input-group-prepend">
        <div class="input-group-text">Commentaire</div>
      </div>
      <textarea type="text" class="form-control" name="commentaire" [(ngModel)]="ferie.commentaire" #type="ngModel" rows="3"></textarea>
    </div>
      <div *ngIf="msgError.motif != '' " class="alert alert-danger">
        <span>{{msgError.motif}}</span>
      </div>
    <div *ngIf="msgError.date != '' " class="alert alert-danger">
      <span>{{msgError.date}}</span>
    </div>
    <div>
      <div *ngIf="ferie.date != '';else cache">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <button class="btn btn-danger mb-2"  (click)="onClickRedirect()">Annuler</button>
      </div>
      <ng-template #cache>
        <button type="submit" class="btn btn-danger mb-2" disabled="disabled">Submit</button>
        <button class="btn btn-danger mb-2"  (click)="onClickRedirect()">Annuler</button>
      </ng-template>
    </div>
  </form>
</div>
