<h1>Mes Absences</h1>


<table class="table">
  <tr>
    <th>Date de Debut</th>
    <th>Date de Fin</th>
    <th>Type</th>
    <th>Statut</th>
    <th>Action</th>
  </tr>
  <tbody>
    <tr *ngFor="let a of absences" class="ml-5 ">
      <td>{{a.dateDebut.year +" " + a.dateDebut.month + " " + a.dateDebut.dayOfMonth}}</td>
      <td>{{a.dateFin.year +" " + a.dateFin.month + " " + a.dateFin.dayOfMonth}}</td>
      <td>{{a.typeConge}}</td>
      <td>{{a.statut}}</td>
      <td>action</td>
    </tr>

  </tbody>
</table>

<form>
  <div class="form-group row">
    <label for="RTT" class="col-sm-2 col-form-label">RTT Restant :</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="RTT" value={{RTT}}>
    </div>
  </div>
  <div class="form-group row">
    <label for="CongePaye" class="col-sm-2 col-form-label">RTT Restant :</label>
    <div class="col-sm-10" *ngFor="let a of absences">
      <input type="text" readonly class="form-control-plaintext" id="CongePaye" value="{{a.collaborateur.jourCongePaye}}">
    </div>
  </div>
</form>
